:root {
    --normal-black: #363d40;

    --normal-blue: #313743;
    --hover-blue: #3a4458;
    --click-blue: #2e4166;

    --normal-white: #fff;
    --click-white: #999;

    --title-color: #40454B;

    --border-color: lightgray;
}

// 统一menu
.el-menu {
    border-right: none;
    list-style: none;
    position: relative;
    margin: 0;
    padding-left: 0;
    background-color: var(--normal-blue);
    box-sizing: border-box;
    color: var(--normal-white);

    .el-sub-menu {
        list-style: none;
        margin: 0;
        padding-left: 0;
        color: var(--normal-white);
    }

    .el-sub-menu__title {
        display: flex;
        align-items: center;
        height: var(--el-menu-item-height);
        line-height: var(--el-menu-item-height);
        font-size: var(--el-menu-item-font-size);
        color: var(--normal-white);
        padding: 0 var(--el-menu-base-level-padding);
        list-style: none;
        cursor: pointer;
        position: relative;
        transition: border-color var(--el-transition-duration), background-color var(--el-transition-duration), color var(--el-transition-duration);
        box-sizing: border-box;
        white-space: nowrap;
        padding-right: calc(var(--el-menu-base-level-padding) + var(--el-menu-icon-width));
    }
}


.el-sub-menu .el-menu-item {
    height: var(--el-menu-sub-item-height);
    line-height: var(--el-menu-sub-item-height);
    background-color: var(--normal-blue);
    color: var(--normal-white);
}

.el-menu-item.is-active {
    color: var(--normal-white);
    background-color: var(--click-blue);
}

.el-menu-item:hover {
    color: var(--normal-white);
    background-color: var(--hover-blue);
}